section.docs-toc
  h3 Contents
  nav.section-content
    ul
      li
        a(
        href="#download"
        )
          | Include the master CSS
          | &nbsp;&#38;&nbsp;
          | JavaScript
      li
        a(href="#use-components") Use the components
      li
        a(href="#general-rules") General rules and principles
      li
        a(href="#dynamic") Use MDL on dynamic websites
      li
        a(href="#responsibilities") What are MDL"s responsibilities?
      li
        a(href="#whats-next") What"s next?
      li
        a(href="#license") License
