#tab2.mdl-tabs__panel
  p
    | Download the minified CSS and Javascript now (27kB gzipped):
    
  .download-button-container
    a
      button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
        | Download MDL v1.0.6
        
  .code-with-text
    | Refer to these files by adding a
    code &#60;link&#62;
    | and a
    code &#60;script&#62;
    | elements into your HTML pages and also include the Material Icon font:
    pre.language-markup
      code.
        &lt;link rel="stylesheet" href="./material.min.css"&gt;
        &lt;script src="./material.min.js"&gt;&lt;/script&gt;
        &lt;link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"&gt;
      
  h4 Choose color scheme
  p
    a(href="http://www.google.com/design/spec/style/color.html") Color schemes used in Material Design
    | &nbsp;are based on a primary and an accent colors which you may want to personalize. Use the&nbsp;
    a(href="../customize/index.html") Customize and Preview tool
    | &nbsp;to select and preview primary and accent colors combinations for your site. Then download your customized Material Design Lite CSS using the button and simply replace the `material.min.css` with the customized one.
