section#use-components
  
  h3 Use the components
  
  .section-content
    
    p
      | You"ll find below a couple of examples of MDL
      | &nbsp;
      a(href="../components/index.html#buttons-section") Button
      | &nbsp;
      | elements: a Button with ripples and a FAB Button. Just copy &#38; paste the corresponding source code in the
      | &nbsp;
      code &#60;body&#62;
      | &nbsp;
      | of an HTML page of your project and the elements will render as shown below.
      
      
    //- // Generating snippets
    //- | {% for snippet_group in page.snippets %}
    //- | {% include "./snippets.html" with snippet_group only %}
    //- | {%- endfor %}
    
    p
      | MDL elements can be tweaked and configured by adding CSS classes. For example adding
      | &nbsp;
      code mdl-js-ripple-effect
      | &nbsp;
      | to an MDL
      | &nbsp;
      a(href="../components/index.html#buttons-section") Button
      | &nbsp;
      | will add a Ripple effect when the button is clicked and adding
      | &nbsp;
      code mdl-button--fab
      | &nbsp;
      | will change the style of the button to a FAB button.
      
    p
      | There are many other elements available such as
      | &nbsp;
      a(href="../components/index.html#cards-section") Card containers
      | ,
      | &nbsp;
      a(href="../components/index.html#sliders-section") Sliders
      | ,
      | &nbsp;
      a(href="../components/index.html#tables-section") Tables
      | ,
      | &nbsp;
      a(href="../components/index.html#menus-section") Menus
      | ... For the complete set of MDL elements and options have a look at the
      | &nbsp;
      a(href="../components/index.html") components
      | &nbsp;
      | page.
      
    p
      | We also recommend that you check out our
      | &nbsp;
      a(href="../templates/index.html") templates
      | . These are ready to use website templates using MDL components. Feel free to have a look at them to get started quickly on your next project.
