#about-panel

  a
    color #00bcd4

  .about-panel

    box-sizing border-box
    flex-grow 1

    &.about-panel--text
      padding 100px

      p
        width 640px
        margin 0 auto
        font-size 13px
        line-height 2em

    &.about-panel--components,
    &.about-panel--styles,
    &.about-panel--customize,
    &.about-panel--templates

      &.mdl-cell
        margin 0

      &.mdl-cell--6-col
        width calc(50%)

      &.mdl-cell--12-col
        width calc(100%)

      // display flex
      display inline-flex
      flex-direction column
      align-items center
      justify-content flex-end

      height 500px
      padding 40px

      background-repeat no-repeat
      background-position center center
      color white
      text-transform uppercase
      font-size 1.4rem
      cursor pointer

    &.about-panel--templates
      background-color #B3E0E1
      background-image url('../../assets/label/templates/templates.svg')
      background-size: 287px auto;

      &:hover
        background-image url('../../assets/label/templates/templates_mo.svg')

    &.about-panel--components
      background-color #E90974
      background-image url('../../assets/label/components/components.svg')
      background-size 174px auto

      &:hover
        background-image url('../../assets/label/components/components_mo.svg')

    &.about-panel--styles
      background-color #8F4099
      background-image url('../../assets/label/styles/styles.svg')
      background-size 252px auto

      &:hover
        background-image url('../../assets/label/styles/styles_mo.svg')
        background-size 331px auto
        background-position-x calc(50% + 40px)

    &.about-panel--customize
      height 400px
      background-color #191E80
      background-image url('../../assets/label/customize/customize.svg')
      background-size 156px auto

      &:hover
        background-image url('../../assets/label/customize/customize_mo.svg')
