section#index-section.mdl-components-index
  
  .mdl-components-index-text.mdl-grid
    
    .mdl-components-text.docs-text-styling(
    class='about-panel'
    class='about-panel--text'
    class='mdl-cell'
    class='mdl-cell--12-col'
    )
      dl.mdl-components-dl
        dt.mdl-components-dt COMPONENTS
        dd.mdl_components-dd
          | Material Design Lite (MDL) is a library of components for web developers
          | based on Google"s Material Design Philosophy: "A visual language for our
          | users that synthesizes the classic principles of good design with the
          | innovation and possibility of technology and science." Understanding the
          | goals and principles of Material Design is critical to the proper use of
          | the Material Design Lite components. If you have not yet read the
          | &nbsp;
          a(href="http://www.google.com/design/spec/material-design/introduction.html") Material Design Introduction
          | &nbsp;
          | you should do so before attempting to use the components.
          
  .mdl-components-img
