#started-panel.docs-text-styling
  
  
  include ./jade/contents.jade
  include ./jade/download.jade
  include ./jade/use-components.jade
  include ./jade/general-rules.jade
  include ./jade/dynamic.jade
  include ./jade/responsibilities.jade
  include ./jade/whats-next.jade
  include ./jade/license.jade
