/* faq */
.faq  .docs-text-styling > section {
  max-width: 960px;
  margin: 0 auto;
}
.faq img {
  max-width: 100%;
}
.faq .mdl-tabs__tab-bar {
  justify-content: flex-start;
  border-bottom: 0;
}
.faq .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #00ACC1;
}
.faq .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background-color: #00ACC1;
}
.faq .docs-layout-content {
  text-align: center;
}
.faq .chapter-toc {
  display: table;
}
.faq .content h3 {
  display: table-cell;
  width: 140px;
  font-size: 15px;
  font-weight: bold;
  padding-right: 60px;
  line-height: 25px;
}
.faq .content section {
  margin-bottom: 30px;
}
.faq .section-content {
  display: table-cell;
}
.faq .content p {
  margin-top: 10px;
  margin-bottom: 15px;
}
.faq .mdl-tabs {
  margin-bottom: 22px;
}
.faq .content h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
}
.faq .content .mdl-tabs__panel {
  padding-top: 10px;
}
.faq .docs-layout.is-small-screen .docs-toc > * {
  display: block;
}
.faq .caption {
  font-size: 13px;
  max-width: 640px;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}
.faq .caption h4 {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
}
.faq ol {
  padding-left: 18px;
  font-size: 13px;
  max-width: 640px;
  box-sizing: border-box;
}
.faq pre {
  width: 640px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.faq .snippet-group {
  max-width: 640px;
  margin: 60px 0 40px 0;
}
