.docs-layout.is-small-screen .scrollindicator.scrollindicator.scrollindicator {
  display: block;
}

.docs-layout.is-small-screen .docs-navigation .mdl-navigation__link,
.docs-layouy.is-small-screen section.download {
  padding: 0 12px;
}
.about .docs-layout:not(.is-small-screen) .mdl-navigation__link.download > .material-icons {
  display: none;
}

.docs-layout.is-small-screen .about-panel {
  padding: 40px;
}
.docs-layout.is-small-screen .about-panel--text:not(:first-of-type) {
  display: none;
}
.docs-layout.is-small-screen .about-panel--text dl {
  flex-direction: column;
}
.docs-layout.is-small-screen .about-panel--text dd,
.docs-layout.is-small-screen .about-panel--text dt {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.templates .docs-layout.is-small-screen .template > .template__meta {
  padding-left: 0;
}
.showcase .docs-layout.is-small-screen .template > .template__meta {
  padding-left: 0;
}
.components .docs-layout.is-small-screen .docs-text-styling pre {
  margin: 0 -16px;
  width: 100vw;
  max-width: 640px;
}

body.about .docs-layout.is-small-screen .docs-layout-header.mdl-layout__header {
  height: 280px;
}
body.about .docs-layout.is-small-screen .docs-layout-header.mdl-layout__header {
  background-size: auto 58px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
}
.docs-layout.is-small-screen .docs-navigation {
  padding: 0;
}
.docs-layout.is-small-screen .docs-navigation .mdl-navigation__link .material-icons {
  display: none;
}

body:not(.about) .docs-layout.is-small-screen .docs-layout-header {
  background-image: none;
}
.docs-layout.mdl-layout.is-small-screen .docs-layout-header.mdl-layout__header {
  padding: 0;
  height: 64px;
}
.docs-layout.is-small-screen .docs-layout-header .docs-layout-title,
.docs-layout.is-small-screen .docs-layout-header .mdl-textfield {
  display: none;
}
.docs-layout.is-small-screen .docs-navigation__container {
  top: 0;
  bottom: auto;
  left: 48px;
  width: calc(100% - 2 * 48px);
  padding: 0 !important;
}

.about .docs-layout.is-small-screen .mdl-navigation__link.download > button,
body:not(.about) .mdl-navigation__link.download > button {
  display: none;
}
