/* Components Snippets */
.snippet-group {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 84px;
}
.snippet-group .snippet-header {
  display: table;
  border-collapse:collapse;
  border-spacing: 0;
  width: 100%;
}
.snippet-group .snippet-demos,
.snippet-group .snippet-captions {
  display: table-row;
}
.snippet-group .snippet-demo .snippet-demo-container {
  text-align: left;
  display: inline-block;
}
.snippet-group .snippet-captions {
  background-color: white;
  height: 48px;
}
.snippet-group .snippet-demo,
.snippet-group .snippet-demo-padding,
.snippet-group .snippet-caption,
.snippet-group .snippet-caption-padding {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.snippet-group .snippet-caption {
  font-size: 13px;
  padding: 0px 40px;
  white-space: nowrap;
  text-align: center;
  position: relative;
}

.snippet-group .snippet-demo {
  padding: 0px 40px 40px 40px;
}
.snippet-group .snippet-demos .snippet-demo-padding {
  width: 50%;
}
_:-ms-input-placeholder, :root .snippet-group .snippet-demo {
  width: 1px;
}
_:-ms-input-placeholder, :root .snippet-group .snippet-demos .snippet-demo-padding {
  width: auto;
}
.snippet-group .snippet-code {
  position: relative;
  overflow: hidden;
}
.snippet-group .snippet-code pre {
  margin: 0;
  border-radius: 0;
  display: block;
  padding: 0;
  overflow: hidden;
}
.snippet-group .snippet-code code {
  padding: 8px 16px;
  position: relative;
  max-height: none;
  width: 100%;
  box-sizing: border-box;
}
.snippet-group .snippet-code pre[class*=language-]>code[data-language] {
  max-height: none;
}
.snippet-group .snippet-code code:first-of-type {
  padding-top: 16px;
}
.snippet-group .snippet-code code:last-of-type {
  padding-bottom: 16px;
}
.snippet-group .snippet-code code:hover {
  background-color: rgba(0,0,0,0.05);
}
.snippet-group .snippet-code code:hover:only-of-type {
  background-color: transparent;
}
.snippet-group .snippet-code code::before,
.snippet-group .snippet-code code::after {
  display: none;
}
.snippet-group .snippet-code code:hover::before {
  display: inline-block;
  content: 'click to copy';
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  background-color: rgba(0,0,0,0.1);
  border-top-left-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 10px;
}
.snippet-group .snippet-code code:active::before {
  content: '';
}
.snippet-group .snippet-code code.copied::before {
  content: 'copied';
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.6);
}
.snippet-group .snippet-code code.nosupport::before {
  content: "browser not supported :'(";
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.6);
}
.snippet-group .snippet-code .codepen-extra-css {
  display:none;
}

.snippet-group.is-full-width .snippet-demo-container {
  width: 100%;
}
.snippet-group.is-full-width .snippet-demos > .snippet-demo {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.snippet-group.is-full-width .snippet-demo-padding {
  width: 0;
  padding: 8px;
  margin: 0;
}
/* Open with CodePen Button */
.codepen-button {
  z-index: 50;
  cursor: pointer;
  background-image: url('../assets/codepen-logo.png');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 26px 26px;
  position: absolute;
  top: 0;
  right: -125px;
  width: 165px;
  height: 46px;
  display: none;
  opacity: 0.6;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  color: black;
  padding: 13px 15px 5px 50px;
  transition: right 0.5s, background-color 0.5s, opacity 0.5s, background-size 0.3s;
}
.codepen-button::after {
  content: 'Open in CodePen';
}
.codepen-button:hover {
  opacity: 1;
  right: 0;
  background-size: 36px 36px;
  background-color: rgb(248,248,248);
  border-bottom-left-radius: 10px;
}
.docs-layout .docs-text-styling pre[class*=language-markup] {
  max-width: calc(100vw - 32px);
}
.docs-layout pre[class*=language-markup] {
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
.docs-layout pre[class*=language-markup].codepen-button-enabled {
  padding-right: 0;
}
.docs-layout pre[class*=language-markup].codepen-button-enabled code {
  padding-right: 50px;
}
.codepen-button-enabled .codepen-button {
  display: inline-block;
}
