.docs-footer.mdl-mini-footer

  flex-direction column
  align-items stretch
  justify-content center
  height 120px

  .mdl-mini-footer--social-btn
    background-color transparent
    margin 0 16px
    width 24px
    height 24px

  .social-btn
    display block
    background-position center
    background-size contain
    background-repeat no-repeat
    width 24px
    height 24px
    cursor pointer

  ul
    padding 0
    display flex
    flex-direction row
    justify-content center
    align-items center

    & > li > a

      margin 0 8px
      font-weight 400
      font-size 12px

    &.docs-link-list > li
      margin-left 0.5em
      margin-right 0.5em

  .social-btn__twitter
    background-image url('../../assets/post_twitter_white_24dp.png')

  .social-btn__github
    background-image url('../../assets/github_white_24.svg')
    width 22px
    height 22px

  .social-btn__gplus
    background-image url('../../assets/post_gplus_white_24dp.png')
