@import '~material-design-lite/material.css'

html > body
  font-family 'Roboto', 'Helvetica', 'Arial', sans-serif !important
  background-color #FAFAFA

.docs-text-styling

  ol
    li
      font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
  h1
    color #c2185b
    font-size 2.5em
    margin .67em 0
  h2
    padding-top 48px
    font-size 24px
    font-weight 400
    line-height 32px
    margin-bottom 30px
    color #c2185b
  a
    text-decoration none

  h1, h2, h3, h4
    font-size 16px
    color rgba(0, 0, 0, 0.54)
    font-weight 500
    text-transform uppercase

// .docs-layout pre[class*=language-]>code[data-language]
//   overflow hidden
//
// pre[class*=language-]>code[data-language]::before
//   content ""
//   background none

@import '~prismjs/themes/prism.css'
