#tab4.mdl-tabs__panel
  p
    | Simply install Material Design Lite files in your
    | &nbsp;
    a(href="http://bower.io/") Bower
    | &nbsp;
    | enabled project using:
  .code-with-text
    | Run the following command in a shell:
    pre.language-bash
      code.
        bower install material-design-lite --save
      
  p
    | This will install the Material Design Lite library files in your project"s
    code bower_components
    | folder.
  .code-with-text
    | Refer to these files by adding a
    | &nbsp;
    code &#60;link&#62;
    | &nbsp;
    | and a
    | &nbsp;
    code &#60;script&#62;
    | &nbsp;
    | element into your HTML pages and also include the Material Icon font:
    pre.language-markup
      code.
        &lt;link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css"&gt;
        &lt;script src="/bower_components/material-design-lite/material.min.js"&gt;&lt;/script&gt;
        &lt;link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"&gt;
      
  .caption
    h4
      | Note:
    | Using this method you will not be able to customize the color scheme of the MDL elements. If you"d like to customize the color scheme prefer the CDN hosted or downloadable libraries. In this case use our
    | &nbsp;
    a(href="../customize/index.html") Customize and Preview tool
    | .
