section#dynamic
  h3 Use MDL on dynamic websites
  .section-content
    p
      | Material Design Lite will automatically register and render all elements marked with MDL classes upon page load.
      | However in the case where you are creating DOM elements dynamically you need to register new elements using the
      | &nbsp;
      code upgradeElement
      | &nbsp;
      | function. Here is how you can dynamically create the same raised button with ripples shown in the section above:
    pre.language-markup.codepen-button-enabled
      code.
        &lt;div id="container"/&gt;
        &lt;script&gt;
          var button = document.createElement('button');
          var textNode = document.createTextNode('Click Me!');
          button.appendChild(textNode);
          button.className = 'mdl-button mdl-js-button mdl-js-ripple-effect';
          componentHandler.upgradeElement(button);
          document.getElementById('container').appendChild(button);
        &lt;/script&gt;
