section#responsibilities
  h3 What are MDL"s responsibilities?
  .section-content
    p
      | Material Design Lite is built to provide a lightweight and basic set of Material Design components  and templates for web sites.
      | The project does not intend to provide structures to create all possible UX needs, but to provide a low-friction Material Design implementation you can build on.
      | Even within Material Design itself, cards specifically, it is unfeasible to provide every combination in a seamless manner.
      | When you find something not provided, such as dropdowns in the drawer, you may need to code your own component.
    p
      | The team is committed to providing a great experience to developers while staying true to the promise of lite.
