section#whats-next
  h3 What"s next?
  .section-content
    p
      | Detailed instructions for using the components, including MDL classes and their effects, coding considerations, and configuration options, can be found in the
      | &nbsp;
      a(href="../components/index.html") components
      | &nbsp;
      | page. Example of sites using MDL elements together can be found in the
      | &nbsp;
      a(href="../templates/index.html") templates
      | &nbsp;
      | page.
