.mdl-components.mdl-js-components(
class='mdl-cell'
class='mdl-cell--12-col'
)

  component(
  :is="components_menu"
  )
  
  main.mdl-components__pages
    router-view.mdl-components__page.is-active
